.home-container {
display: flex;
flex-direction: column;
align-items: center;
padding: 20px;
font-family: 'Arial', sans-serif;
background-color: #042642;
opacity: .92;
background-image: linear-gradient(45deg, black, transparent);
width: 35vmax;
border-radius: 8vmin;
}

h1 {
color: #f4e1e1;
margin-bottom: 30px;
}

.wod-ai {
width: 80%;
/* background-color: #fff; */
padding: 2vmin;
border-radius: 3vmin;
box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
margin-bottom: 2vmin;
color: #ff9800;
}

h2 {
text-transform: uppercase;
letter-spacing: 2px;
color: #ef495c;
margin-bottom: 10px;
}

ul {
list-style-type: none;
padding: 0;
}

li {
margin-bottom: 5px;
color: #04ece0;
}

.generate-btn {
background-color: #c80647;
border: none;
color: rgb(243, 245, 196);
padding: 10px 20px;
text-transform: uppercase;
font-weight: bold;
border-radius: 20px;
cursor: pointer;
transition: background-color 0.25s ease;
transition: color 0.25s ease;
margin-bottom: 2vmin;
}

.generate-btn:hover {
background-color: #000000;
border:rgb(178, 244, 247) solid 1px;
color: rgb(251, 151, 216);
}

.save-btn {
background-color: #02ac1e;
border: none;
color: rgb(243, 245, 196);
padding: 10px 20px;
text-transform: uppercase;
font-weight: bold;
border-radius: 20px;
cursor: pointer;
transition: background-color 0.25s ease;
transition: color 0.25s ease;
margin-bottom: 2vmin;
}

.save-btn:hover {
background-color: #f6ee02;
border:rgb(242, 251, 240) solid 1px;
color: rgb(1, 51, 95);
}
