.home-container {
display: flex;
flex-direction: column;
align-items: center;
padding: 20px;
font-family: 'Arial', sans-serif;
background-color: #f4f4f4;
height: 100vh;
}

h1 {
color: #333;
margin-bottom: 30px;
}

.wod-ai {
width: 60%;
background-color: #fff;
padding: 30px;
border-radius: 10px;
box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
margin-bottom: 20px;
}

h2 {
text-transform: uppercase;
letter-spacing: 2px;
color: #555;
margin-bottom: 10px;
}

ul {
list-style-type: none;
padding: 0;
}

li {
margin-bottom: 5px;
color: #666;
}

.generate-btn {
background-color: #03274e;
border: none;
color: rgb(243, 245, 196);
padding: 10px 20px;
text-transform: uppercase;
font-weight: bold;
border-radius: 20px;
cursor: pointer;
transition: background-color 0.25s ease;
transition: color 0.25s ease;
}

.generate-btn:hover {
background-color: #036b5f;
border:rgb(51, 255, 0) solid 1.5px;
color: aliceblue;
}
