.home-container {
    max-width: 80vmin;
    max-height: 80vh;
    border: solid black 2px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wod-ai {
    /* border: solid blue 4px; */
    width: auto;
    padding: 20px;
    margin: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #f7f7f7;
    color: blue;
}